html,
body {
  position: relative;
  height: 100%;
  font-size: 62.5%;
}


body {
  --green: #a5db60;
  --pair: #bfe98a;

  font-size: 62.5%!important;
  color: #111;
  background: var(--green);
}


.back-btn {
  padding: 2rem;
}

header a {
  display: flex;
  width: 60px;
  height: 60px;
}

header img {
  width: 100%;
}