@import url('https://fonts.googleapis.com/css?family=Montserrat');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  --green: #a5db60;
  --pair: #bfe98a;


  font-family: 'Montserrat', sans-serif;
  /* background-color: #eee; */
  color: #111;
  background: var(--green);
  /* 16px * 0.625 = 10px;  */
  font-size: 62.5%;
}

.back-btn {
  width:  4rem;
  height: 4rem;
  margin: 2rem;
}
header a{
  width: 4rem;
  height: 4rem;
  display: flex;
}
header img {
  width: 100%;
}
.score {
  font-family: monospace;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  margin: 1rem;
  position: relative;
  transition: opacity 0.2s;
}
#play-again-btn {
  position: absolute;
  top: -0.5rem;
  left: 50%;
  margin-left: -50px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #111;
	border: 5px double #fff;
	border-radius: 14px;
	padding: 8px 10px;
  outline: none;
  letter-spacing: .05em;
  cursor: pointer;
  display: none;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s, background-color 0.2s;
}
#play-again-btn:hover {
  background-color: #333;
}
#play-again-btn:active {
  background-color: #555;
}
#play-again-btn.play-again-btn-entrance {
  opacity: 1;
  transform: translateX(6rem);
}
.draggable-items {
  display: flex;
  justify-content: center;
  margin: 1rem 1rem 1.5rem 1rem;
  transition: opacity 0.5s;
  background-color: #86B250;
}
.draggable {
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  margin: 0rem 0.5rem;
  cursor: move;
  transition: opacity 0.2s;
}
.draggable:hover {
  opacity: 0.5;
}

.matching-pairs {
  transition: opacity 0.5s;
  display: grid;
  grid-template-areas: "a a";
  justify-content: center;
  position: relative;

  width: 20rem;
  height: 20rem;
}

.matching-pairs-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.matching-pair {
  /* height: 10rem;
  width: 10rem; */
  /* display: flex;
  justify-content: space-between;
  border: 2px solid var(--green); */

  width: 320px;
  height: 320px;
  position: absolute;
}
.matching-pair img {
  width: 100%;
}
.matching-pair span {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
}

.pair-1 img,
.pair-4 img {
  height: 100%;
  width: auto;
}

.pair-1 {
  left: 5px;
  top: 0;
  background: url(/images/pair1.png) no-repeat;
  background-size: 100%;
  width: 194px;
  height: 158px;
}
.pair-2 {
  right: 0;
  background: url(/images/pair2.png) no-repeat;
  background-size: 100%;
  height: 200px;
  width: 160px;
}
.pair-3 {
  bottom: -115px;
  left: 5px;
  background: url(../images/pair3.png) no-repeat;
  background-size: 100%;
  height: 100%;
  width: 10rem;
}
.pair-4 {
  background: url(/images/pair4.png) no-repeat;
  background-size: 100%;
  height: 200px;
  width: 197px;
  right: 0;
  bottom: -32px;
}


.label {
  width: 15rem;
}
.droppable {
  transition: 0.2s;
}
.droppable-hover {
  /* background-color: #bee3f0; */
  transform: scale(1.1);
  z-index: 999;
}


.dragged {
  user-select: none;
  opacity: 0.1;
  cursor: default;
}
.draggable.dragged:hover {
  opacity: 0.1;
}

@media (max-width: 600px) {
  html { font-size: 14px; }
  #play-again-btn { top: -0.4rem; }
  #play-again-btn.play-again-btn-entrance { transform: translateX(7rem); }
}


.gen-story {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}

.gen-story a {
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  display: flex;
  cursor: not-allowed;
  opacity: .3;
}
