@import url('https://fonts.googleapis.com/css?family=Montserrat');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  /* background-color: #eee; */
  color: #111;
  background: #a5db60;
  /* 16px * 0.625 = 10px;  */
  font-size: 62.5%;

  --green: #a5db60;
  --pair: #bfe98a;
}

.back-btn {
  width:  4rem;
  height: 4rem;
  margin: 2rem;
}
header a{
  width: 4rem;
  height: 4rem;
  display: flex;
}
header img {
  width: 100%;
}
.score {
  font-family: monospace;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  margin: 1rem;
  position: relative;
  transition: opacity 0.2s;
}
#play-again-btn {
  position: absolute;
  top: -0.5rem;
  left: 50%;
  margin-left: -50px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #111;
	border: 5px double #fff;
	border-radius: 14px;
	padding: 8px 10px;
  outline: none;
  letter-spacing: .05em;
  cursor: pointer;
  display: none;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s, background-color 0.2s;
}
#play-again-btn:hover {
  background-color: #333;
}
#play-again-btn:active {
  background-color: #555;
}
#play-again-btn.play-again-btn-entrance {
  opacity: 1;
  transform: translateX(6rem);
}
.draggable-items {
  display: flex;
  justify-content: center;
  margin: 1rem 1rem 1.5rem 1rem;
  transition: opacity 0.5s;
  background-color: #86B250;
}
.draggable {
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  margin: 0rem 0.5rem;
  cursor: move;
  transition: opacity 0.2s;
}
.draggable:hover {
  opacity: 0.5;
}
.matching-pairs {
  transition: opacity 0.5s;

  display: grid;
  grid-template-areas: "a a";
  justify-content: center;

}
.matching-pair {
  height: 10rem;
  width: 10rem;
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--green);
}
.matching-pair span {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
}
.label {
  width: 15rem;
}
.droppable {
  width: 100%;
  background-color: #fff;
  border: 3px dashed #111;
  transition: 0.2s;
}
.droppable-hover {
  background-color: #bee3f0;
  transform: scale(1.1);
}
.dropped {
  border-style: solid;
}
.dragged {
  user-select: none;
  opacity: 0.1;
  cursor: default;
}
.draggable.dragged:hover {
  opacity: 0.1;
}

@media (max-width: 600px) {
  html { font-size: 14px; }
  #play-again-btn { top: -0.4rem; }
  #play-again-btn.play-again-btn-entrance { transform: translateX(7rem); }
}


.gen-story {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}

.gen-story a{
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  display: flex;
}



/* 拼图 */
.pair-1 {
  font-size: 12px;
   /* width: 6em;
   height: 6em;
   margin: 50px; */
   position: relative;
   -webkit-border-radius: .5em;
   -moz-border-radius: .5em;
   border-radius: .5em;
 }

 .pair-1,
 .pair-1 span {
  background-color: var(--pair);
 }

 .pair-1 .t {
  width:4rem;
   height:4rem;
   position: absolute;
   top: -1.5em;
   left:4rem;
   -webkit-border-radius: 4em;
   -moz-border-radius: 4em;
   border-radius: 4em;
 }

 .pair-1 .r {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 3rem;
  right: -2rem;
   border-radius: 4em;
   z-index: 1;
 }

 .pair-1 .b {
  width: 4rem;
   height: 4rem;
   position: absolute;
   bottom: -2rem;
   left: 3rem;
   -webkit-border-radius: 4em;
   -moz-border-radius: 4em;
   border-radius: 4em;
   background-color: var(--green);
 }

 .pair-1 .l {
  width: 4rem;
   height: 4rem;
   position: absolute;
   top: 2.5em;
   left: -.4em;
   -webkit-border-radius: 4em;
   -moz-border-radius: 4em;
   border-radius: 4em;
   background-color: var(--green);
 }

 .pair-2{
  background-color: var(--pair);
 }
 .pair-2 b {
  background: var(--pair);
 }